.header-container {
    padding: 16px;
    background: #ffffff;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
    /* shadow-xs */

    .header-search {
        // margin-left: 2rem;
        .ant-input-affix-wrapper {
            background: rgba(196, 193, 202, 0.15);
            width: 256px;
            height: 36px;
            border-color: transparent;
            padding-left: 19px;
            border-radius: 6px;
        }

        input {
            background: transparent !important;

            &::placeholder {
                font-weight: 500;
                font-size: 14px;
                color: #8a8595;
            }
        }
    }

    .header-col-two {
        display: flex;
        align-items: center;
        justify-content: end;

        .ant-badge-count {
            background: #FF0099FF;
            color: #fff;
            border-color: #FF0099FF;
        }

        .language {
            height: 40px;

            svg {

                width: 30px;

            }
        }

        .badge-icon {
            margin: 0 28px;
            height: 40px;
            cursor: pointer;
        }

        .ant-avatar {
            border-radius: 50em;
            width: 48px;
            height: 48px;
        }

    }
}

.header-notifications-title {
    display: flex;
    align-items: center;
    padding: 21px 0px 12px 26px;
    border-bottom: 1px solid #EAEBEE;

    svg {
        margin-right: 10px;
    }
}

.header-notifications-content {
    // padding: 22px 26px;
    background: #FFFFFF;
    /* SS */
    width: 400px;
    box-shadow: 0px 40px 60px rgba(30, 23, 61, 0.15);
    border-radius: 20px;
    padding-bottom: 80px;

    .header-footer-line {
        width: 100%;
        background: #EAEBEE;
        height: 1px;
    }
}

.notification {
    padding: 15px 25px;
    cursor: pointer;

    h1 {
        font-weight: 700;
        font-size: 14px;
        color: #140A2B;
        margin-bottom: 0px;
    }

    p {
        font-weight: 500;
        font-size: 14px;
        color: #140A2B;
        margin-bottom: 0px;
    }

    span {
        font-weight: 500;
        font-size: 12px;
        color: #C4C1CA;
    }

    &:hover {
        background: rgba(91, 44, 211, 0.05);
    }
}

.ant-layout-header {
    height: 95px !important;
}